@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

body {background-color: papayawhip;}
h1 {

  
text-align:center;
font-family:Dancing script,cursive;
font-size: 50px;
}
h2{
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Old {

font-family: Dosis;
margin-bottom: 20px;
font-size: 20px;

}
.Old fieldset{ width: 350px;
background-color: silver;
}
#submit {
    color: #ffffff;
    text-decoration: none;
    background-color: #fe7095;
    padding:8px 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    
}
 
.email p {
    vertical-align:top;
    font-weight: 600;
    font-style: oblique;
    font-size: 20px;
}

.COVID-19 p{ 

    
    font-weight:500;

}
a:link{color:rebeccapurple;}
a:active{color:red;}