  
*{
     margin:0;
     padding:0;

}
* {
     box-sizing: border-box;
   }
   header{
     background-image: url("Imazhet/bg.jpg");
     height:100vh;
     background-size: cover;
     background-position: center;
     position: relative;
     }
   

.main{
widows: 1170px;

}



.nav-area{
float: right;
list-style: none;
margin-top:20px;


}    

.nav-area li{
display: inline-block;
}
.nav-area li a{
color: #fff;
text-decoration: none;
padding: 5px 40px;
font-family:poppins;
font-size:25px;


}

.logo img{
width: 150px;
float:left;
height: 50px;
}

.Info_Covid_div
{
     color: #fff;
     padding-top: 170px;
     margin:  auto auto;
     font-size: 25px;
     text-overflow: clip;
     text-justify: auto;
     text-align: center;
}


.qoute{
position:absolute;
width:600px;
height: 300px;
margin:20% 30%;
}
.qoute h2{
text-align: center;
color:grey ;
text-transform:uppercase;
font-size: 35px;
border: 1px solid #fff;
margin-top: 20px;

}
.bg-image {
     /* Full height */
     height: 50%; 
     
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     text-align: center;
     padding-top: 80px;
     color: #fff;
   }
.bg-image .bg-image2
{
     width: 300px;
     margin-left: 30px;
}
.bg-image .bg-image2 img
{
     margin-left: 15px;
}
.bg-image h1
{
     padding-top: 220px;
     float: left;
     font-size: 22px;
     color: black;
}
.bg-image h2
{
     width: 200px;
     margin-left: 40px;
}
.bg-image li 
{
     display: inline-block;
}

header .virusi
{
     float: right;
     width: 100px;
     height: 20px;
     background: transparent;
}

header .virusi:hover
{
     width: 200px;
     transition: 2s;
}

.bg-image .duartë
{
     border: none;
     color: white;
     padding: 10px 62px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 20px;
     margin: 170px 2px;
     cursor: pointer;
     background-color: blue;
}

header .soap h2
{
     width: 150px;
     margin-left: 30px;
}
header .soap li 
{
     display: inline-block;
}