  
*{
     margin:0;
     padding:0;

}
* {
     box-sizing: border-box;
   }
   header{
     background-color: white;
     height:100vh;
     background-size: cover;
     background-position: center;
     position: relative;
     }
   

.header{ grid-area: header;}

.footer{ grid-area: footer;}

.footer
{    height: 350px;
     width: 100%;
     background-color:#F6DDCC;
     margin-top: 30px;
}

.footer table th
{
     font-size: 30px;
}
.footer table tr td
{
     text-align: center;
     column-rule-style: solid;
     column-rule-color: lightblue;
     overflow: auto;
     font-size: 20px;
}

.footer table tr td img
{
     margin-left: 30px;
}

.nav-area{
float: right;
list-style: none;
margin-top:20px;


}    

.nav-area li{
display: inline-block;
}

.nav-area li a{
color: black;
text-decoration: none;
padding: 5px 20px;
font-family:poppins;
font-size:25px;
}

 .nav-area li a:hover
{
     opacity: .6;
}

.logo img{
width: 150px;
float:left;
height: 50px;
}

.Info_Covid_div
{
     color: black;
     padding-top: 170px;
     margin:  auto auto;
     font-size: 25px;
     text-overflow: clip;
     text-justify: auto;
     text-align: center;
}




.qoute{
position:absolute;
width:600px;
height: 300px;
margin:20% 30%;
}
.qoute h2{
text-align: center;
color:grey ;
text-transform:uppercase;
font-size: 35px;
border: 1px solid #fff;
margin-top: 20px;

}
.bg-image {
     /* Full height */
     height: 50%; 
     
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     text-align: center;
     padding-top: 80px;
     color: #fff;
   }
.bg-image .bg-image2
{
     width: 300px;
     margin-left: 30px;
}
.bg-image .bg-image2 img
{
     margin-left: 15px;
}
.bg-image h1
{
     padding-top: 220px;
     float: left;
     font-size: 22px;
     color: black;
}
.bg-image h2
{
     width: 200px;
     margin-left: 40px;
     color: black;
}
.bg-image li 
{
     display: inline-block;
}

header .virusi
{

     float: right;
     width: 100px;
     height: 50px;
     background-color: rgb(117, 196, 196);
}

header .virusi:hover
{
     width: 100px;
     transition-duration: 1s;
     transform: none;
}

 header .virusi li a
{
     width: 100px;
}

.bg-image .duartë
{
     border: none;
     color: white;
     padding: 10px 62px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 20px;
     margin: 170px 2px;
     cursor: pointer;
     background-color: blue;
}

.soap h2
{
     width: 200px;
     margin-left: 20px;
}

.soap li 
{

     display: inline-block;
}

.duartë a
{
     text-decoration: none;
}

.bgg-image h1
{
     margin-left: 30px;
     width: 800px;
     padding-top: 40px;
}
.bgg-image img
{
     margin-top: 40px;

}

