body {

    font-family: Poppins, Helvetica, sans-serif;
    overflow-x:hidden;
    background-size: 15px!important;
    background: url("Imazhet/bg-dot.png") repeat 50%;
}

.topnav {
    margin-top:12px;
    margin-left:35px;
    overflow: hidden;

  }
  
  .topnav a {
    float: left;
    display: block;
    color: #33334f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .25s ease-out;
  }
  
  .topnav a:hover { 
    opacity: .6;
  }
  
  .topnav a.active {
    border-bottom: 1px solid #33334f;
  }
  
  .topnav .icon {
    display: none;
  }


  .about_slogan{
    text-align:center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 60px;
  }
  
  .about_slogan h1 {
    color:#33334f;
    font-size:70px;
    margin-bottom: 0px;
  }
  
  .about_slogan p {
    text-align:center;
  }